#cardWall {
  height: 60vh;
  width: 40vw;

  margin: 2em;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  #titleCard {
    text-shadow: 0.05em 0.05em black;
  }

  #cardProduct {
    border-radius: 0.5em;
    background-color: #ffc0cb;
    height: 50vh;
    width: 35vw;

    display: flex;
    flex-direction: row;

    border: 0.3em solid black;

    #photoStack {
      background: linear-gradient(
        135deg,
        hsla(350, 100%, 88%, 1) 14%,
        hsla(316, 59%, 55%, 1) 83%
      );

      display: flex;
      flex-direction: column;

      justify-content: space-evenly;
      align-items: center;

      width: 6em;

      .itemStack {
        border-bottom: 0.2em solid black;
        cursor: pointer;
      }
    }

    #photo {
      background-image: url(../../../public/HeroImg/product.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      width: 35vw;

      padding: 3em;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .productPrice {
        display: flex;
        align-items: center;
        justify-content: center;

        
        

        font-size: 2em;

        text-shadow: 0.05em 0.05em black;

        height: 2em;
        width: 7em;
      }

      .productBuy {

        display: flex;
        align-items: center;
        justify-content: center;

        /* align-self: flex-end; */
        margin-top: 10em;

        background: linear-gradient(
        135deg,
        hsla(350, 100%, 88%, 1) 14%,
        hsla(316, 59%, 55%, 1) 83%
      );
        color: black;

        font-weight: bolder;

        box-shadow: 0.2em 0.2em 0.2em black;

        border-radius: 0.2em;

        height: 2em;
        width: 5em;

        cursor: pointer;
      }
    }
  }
}
