@font-face {
    font-family: Satista;
    src: url(../public/Fonts/Satista.otf);
}

@font-face {
    font-family: Moun-light;
    src: url(../public/Fonts/Mountella/MountellaTrial-Light.ttf);
}

@font-face {
    font-family: Moun-Med;
    src: url(../public/Fonts/Mountella/MountellaTrial-Medium.ttf);
}

body{
   
    color: #fff;
    padding: 0;
    margin: 0;
    background-color: wheat;
    font-size: 1.2em;

    width: 100vw;

    font-family: Moun-Med;
    
    
    
}